.catalog-extra {
  padding: 0;
  width: 100%;
  margin: 25px auto 0;
  position: relative;
}

.catalog-extra__container {
  width: 320px;
  margin: 0 auto;
}

.catalog-extra::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  top: 14px;
  right: 0;
  background-color: rgba(104, 183, 56, 1);
}

.catalog-extra__section-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 20px 36px;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
}

.catalog-extra__list {
  border-top: 1px solid rgba(205, 205, 205, 1);
  list-style-type: none;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.catalog-extra__item {
  padding: 11px 0 19px;
  border-bottom: 1px solid rgba(205, 205, 205, 1);
}

.catalog-extra__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  margin: 0;
  margin-left: 2px;
  text-transform: uppercase;
  width: 100%;
}

.catalog-extra__description-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.catalog-extra__description,
.catalog-extra__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgba(68, 68, 68, 1);
  margin: 0;
}

.catalog-extra__button {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: @tablet-width) {
  .catalog-extra {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }

  .catalog-extra::before {
    width: 100%;
    top: 22px;
    left: 0;
  }

  .catalog-extra__container {
    width: 768px;
  }

  .catalog-extra__section-title {
    margin: 0 auto 80px 30px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px 0 37px;
  }

  .catalog-extra__list {
    border: 1px solid rgba(205, 205, 205, 1);
    width: 708px;
  }

  .catalog-extra__item {
    padding: 26px 38px 28px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-extra__item:last-child {
    border-bottom: none;
  }

  .catalog-extra__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    width: auto;
    text-align: left;
  }

  .catalog-extra__description-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0;
    margin-left: auto;
  }

  .catalog-extra__description,
  .catalog-extra__price {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-extra__description {
    text-align: end;
  }

  .catalog-extra__price {
    text-align: end;
    width: 95px;
  }

  .catalog-extra__button {
    margin-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-extra {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-extra__container {
    width: 1440px;
  }

  .catalog-extra__section-title {
    margin: 0 auto 81px 70px;
    padding: 0 35px 0 37px;
  }

  .catalog-extra__list {
    border: none;
    border-top: 1px solid rgba(205, 205, 205, 1);
    width: 895px;
    margin: 0 79px 86px auto;
  }

  .catalog-extra__item {
    border: none;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
    padding: 15px 0 17px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .catalog-extra__item:last-child {
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }

  .catalog-extra__title {
    line-height: 21px;
    width: 324px;
    margin: 0;
  }

  .catalog-extra__description {
    width: 228px;
    text-align: left;
  }

  .catalog-extra__price {
    width: 60px;
  }

  .catalog-extra__button {
    width: 244px;
    margin: 0 0 0 38px;
  }
}
