.program-selection__wrapper {
  padding-bottom: 32px;
}

.program-selection__text {
  padding: 27px 20px;
  padding-bottom: 0;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.program-selection__description {
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 24px;
}

.form-pet,
.form__goal {
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 1);
}

.form__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid rgba(231, 231, 231, 1);
  padding: 13.2px 15.12px;
  margin-bottom: 14px;
  font-family: "Oswald-regular", "Arial", sans-serif;
}

.form__field::placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__goal {
  padding-bottom: 24px;
}

.form__list {
  list-style-type: none;
  padding: 0;
  padding-top: 22.22px;
  margin: 0;
}

.form__item {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__owner-contacts {
  margin-top: 26px;
}

.form-title {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 35px;
  position: relative;
}

.form__owner-contacts .form__field {
  border: 1px solid rgba(205, 205, 205, 1);
}

.form__comment .form-title {
  padding-bottom: 37.73px;
}

.form__field--comments {
  box-sizing: border-box;
  width: 100%;
  padding-left: 12px;
  padding-top: 9px;
  vertical-align: text-top;
  font-size: 16px;
}

.form__extra {
  padding-bottom: 34px;
}

.form__extra .form__list {
  padding: 0;
}

.form__button {
  width: 280px;
  padding: 7px 0;
  margin-bottom: 21px;
}
