.program-selection__wrapper {
  margin-bottom: 32px;
}

.program-selection__text {
  padding: 27px 20px 0;
  margin: 0 auto;
  width: 280px;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.program-selection__description {
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .program-selection__wrapper {
    margin-bottom: 72px;
  }

  .program-selection__text {
    padding: 65px 70px 0;
    width: 628px;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .program-selection__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection__wrapper {
    margin-bottom: 82px;
  }

  .program-selection__text {
    padding: 77px 0 66px;
    width: 1220px;
  }

  .program-selection__title {
    margin-bottom: 56px;
  }

  .program-selection__description {
    margin-bottom: 0;
  }
}
