.series__wrapper {
  padding: 0 20px;
}

.series__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.series__item {
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 20px;
  padding: 0 20px;
}

.series__item--slim {
  background-image: url("../img/cat-icon-slim.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.series__item--pro {
  background-image: url("../img/cat-icon-pro.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
}

.series__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 71px;
  margin-bottom: 29px;
}

.series__description {
  font-family: "Arial", sans-serif;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.series__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(1, 1, 1);
  padding-top: 19px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .series__wrapper {
    padding: 0 30px;
    margin-bottom: 45px;
  }

  .series__item {
    margin-bottom: 30px;
    padding: 77px 62px 57px 53px;
  }

  .series__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 24px;
  }

  .series__description {
    display: block;
    width: 340px;
    border: none;
    padding-bottom: 52px;
  }

  .series__link {
    font-size: 20px;
    line-height: 29.64px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .series__wrapper {
    padding: 0 110px;
    margin-bottom: 71px;
  }

  .series__list {
    display: flex;
  }

  .series__item {
    margin-right: 80px;
    margin-bottom: 0;
    width: 100%;
  }

  .series__item:last-child {
    margin-right: 0;
  }
}
