.series__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 280px;
}

.series__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.series__item {
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 20px;
  padding: 0 20px;
}

.series__item--slim {
  background-image: url("../img/cat-icon-slim.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.series__item--pro {
  background-image: url("../img/cat-icon-pro.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
}

.series__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 71px;
  margin-bottom: 29px;
}

.series__description {
  font-family: "Arial", sans-serif;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.series__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(1, 1, 1);
  margin-top: 19px;
  padding-bottom: 22px;
  max-width: 240px;
}

.series__icon-arrow {
  display: block;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  margin-left: 15px;
}

.series__link:hover .series__icon-arrow {
  background-image: url("../img/icon-arrow-hover.svg");
  width: 34px;
}

.series__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .series__wrapper {
    padding: 0 30px;
    margin: 0 auto 45px;
    width: 708px;
  }

  .series__item {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 77px 62px 57px 53px;
  }

  .series__item--slim {
    background-position: 446px 81px;
    background-size: 200px 211px;
  }

  .series__item--pro {
    background-position: 412px 91px;
    background-size: 268px 200px;
  }

  .series__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 24px;
  }

  .series__description {
    display: block;
    width: 340px;
    border: none;
    padding-bottom: 52px;
  }

  .series__link {
    font-size: 20px;
    line-height: 29.64px;
    padding: 0;
    margin: 0;
  }

  .series__icon-arrow {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .series__wrapper {
    padding: 0 110px;
    margin: 0 auto 71px auto;
    width: 1220px;
  }

  .series__list {
    display: flex;
  }

  .series__item {
    margin-right: 80px;
    margin-bottom: 0;
    padding: 77px 51px 59px 52px;
    width: 100%;
  }

  .series__item:last-child {
    margin-right: 0;
  }

  .series__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .series__description {
    width: 100%;
    margin-bottom: 27px;
    padding: 0;
  }

  .series__item--slim {
    background-position: 52px 41px;
    background-size: 100px 106px;
  }

  .series__item--pro {
    background-position: 33px 47px;
    background-size: 134px 100px;
  }

  .series__icon-arrow {
    margin-left: 28px;
  }
}
