body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "Oswald-regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  text-align: center;
  background-color: rgba(104, 183, 56, 1);
  font-family: "Oswald-regular", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
}

.form {
  border: none;
}
